
body,h1,h2,h3,ul,p {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.metro{
    width: 500px;
    height: 50%;
    background-color: aqua;
}
#header{
    background-color: #35424a;
    border-bottom: 5px solid coral;
}

#header h1 {
    color: #fff;
    font-family: sans-serif;
    margin: 15px 0;
    display: inline-block;
}

#header .logo{
    color: coral;
}

.navbar{
    float: right;
}

.navbar li {
    display: inline;
}

.navbar li a {
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    padding: 25px 15px;
    display: inline-block;
}

.navbar li a:hover {
    color: coral;
}

.container{
    width: 70%;
    margin: auto;
    color: black;
}

#banner{
    height: 60vh;
    background-size: cover;
    background-position: center -500px;
    text-align: center;
    color: #fff;
    font-family: sans-serif;

}

#banner h1 {
    font-size: 56px;
    margin-bottom: 25px;
    padding-top: 150px;
}
#newsletter{
    background-color: #35424a;
    color: #fff;
    font-family: sans-serif;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
}
#newsletter  .left {
    float: left;
}
#newsletter  .right{
    float: right;
}
#newsletter.input{
     padding: 5px;
}
/* .button{
    padding: 7px 15px ;
    border: none;
    font-size: 7px;
    background-color: coral;
    color: #fff;
    margin-top: -1rem;

}
.input{
    font-size: 15px;
} */
#courses{
    padding: 30px 0;
}
.box{
    width: 33.3%;
    float: left;
    margin-top: -2.5rem;
    text-align: center;
    font-family: sans-serif;
    display: inline-block;
}
.box .img{
    max-width: 100%;
    width: 120px;
}
.clr{
    clear: both;
}
#footer{
    height: 0.05px;
    padding: 50px 0;
    text-align: center;
    background-color: coral;
    color: #fff;
    margin-top: 35px;
}
.mart{
    margin-top: 0.5rem;
}